pkgbase = bambustudio
	pkgdesc = 3D printing slicer and printer control software from Bambu Lab
	pkgver = 02.08.02.61
	pkgrel = 1
	url = https://github.com/bambulab/BambuStudio
	arch = x86_64
	license = AGPL-3.0-only
	license = LGPL-2.1-or-later
	checkdepends = desktop-file-utils
	makedepends = patchelf
	depends = bash
	depends = ca-certificates
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libstdc++
	depends = libx11
	depends = libxkbcommon
	depends = pango
	depends = wayland
	depends = webkit2gtk-4.1
	depends = xdg-utils
	optdepends = gst-plugins-bad: H.264 parsing and decoding for printer camera video
	conflicts = bambustudio-bin
	conflicts = bambustudio-git
	noextract = bambustudio-02.08.02.61-x86_64.AppImage
	options = !debug
	options = !strip
	source = LICENSE-02.08.02.61::https://raw.githubusercontent.com/bambulab/BambuStudio/v02.08.02.61/LICENSE
	source = bambu-studio
	sha256sums = 57c8ff33c9c0cfc3ef00e650a1cc910d7ee479a8bc509f6c9209a7c2a11399d6
	sha256sums = 368d852474a0abbe22480e450c2a238cc82ac2cca7547ff344e4fdf0d393a580
	source_x86_64 = bambustudio-02.08.02.61-x86_64.AppImage::https://github.com/bambulab/BambuStudio/releases/download/v02.08.02.61/BambuStudio_ubuntu24.04-v02.08.02.61-20260820225108.AppImage
	sha256sums_x86_64 = d501b103fac5424513ec0e8d6bc145fb30719de2c7d94d7320d723740c81a7fd

pkgname = bambustudio
