pkgbase = 1password-cli
	pkgdesc = Command-line interface for 1Password
	pkgver = 2.38.1
	pkgrel = 2
	url = https://developer.1password.com/docs/cli/
	install = 1password-cli.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-1Password-Proprietary
	options = !debug
	options = !strip
	source = 1password-cli.license
	validpgpkeys = 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
	sha256sums = dae49a8282b3ed44b430da3b05293a5cd5b5b59a4b87075c211f2b9e1692f4cf
	source_x86_64 = https://cache.agilebits.com/dist/1P/op2/pkg/v2.38.1/op_linux_amd64_v2.38.1.zip
	sha256sums_x86_64 = 7a7b7168f521d31838f0cc59abf172527853308c9b9cceee34895121acb0be0f
	source_aarch64 = https://cache.agilebits.com/dist/1P/op2/pkg/v2.38.1/op_linux_arm64_v2.38.1.zip
	sha256sums_aarch64 = 854f92932dcfebc26434e83e426729933a8d0aae447889e439cf01f1b213a7fd

pkgname = 1password-cli
