pkgbase = spotatui-bin
	pkgdesc = A Spotify client for the terminal written in Rust, powered by Ratatui
	pkgver = 0.41.0
	pkgrel = 3
	url = https://github.com/LargeModGames/spotatui
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = pipewire
	optdepends = yt-dlp: YouTube playback support
	optdepends = ffmpeg: improved YouTube playback support
	provides = spotatui=0.41.0
	conflicts = spotatui
	options = !debug
	options = !strip
	source = spotatui-bin-0.41.0-x86_64.tar.gz::https://github.com/LargeModGames/spotatui/releases/download/v0.41.0/spotatui-linux-x86_64.tar.gz
	source = LICENSE-0.41.0::https://raw.githubusercontent.com/LargeModGames/spotatui/v0.41.0/LICENSE
	source = README-0.41.0.md::https://raw.githubusercontent.com/LargeModGames/spotatui/v0.41.0/README.md
	sha256sums = 66c0846529b62cfe2627062f044e21677697d807cfc14b07036348e849ca43e7
	sha256sums = b47ad91f512f5ae715df2888abf19ff0172c75de71b6423f836174bae8f8161e
	sha256sums = 2c2b10b7cbd6d341bd795cea82161883cef23f15982c0e75f13c98ff9096967b

pkgname = spotatui-bin
