pkgbase = opencode-desktop
	pkgdesc = Open source AI coding agent desktop client
	pkgver = 1.18.26
	pkgrel = 2
	url = https://opencode.ai
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libnotify
	depends = libsecret
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = ripgrep
	depends = systemd-libs
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator-gtk3: tray icon support
	noextract = opencode-desktop-1.18.26-amd64.deb
	options = !debug
	options = !strip
	source = LICENSE-1.18.26::https://raw.githubusercontent.com/anomalyco/opencode/v1.18.26/LICENSE
	sha256sums = 625f0f619133f89bbbb2abe37369613dfa1885eba1e50d02170deb62bb42cb6b
	source_x86_64 = opencode-desktop-1.18.26-amd64.deb::https://github.com/anomalyco/opencode/releases/download/v1.18.26/opencode-desktop-linux-amd64.deb
	sha256sums_x86_64 = 84cbf698f930fda3477cf108f4aa9801b4c4a4875fa048d9f60b3ac583a6e184

pkgname = opencode-desktop
