pkgbase = scip-bin
	pkgdesc = Language-agnostic protocol for indexing source code
	pkgver = 0.9.0
	pkgrel = 2
	url = https://github.com/scip-code/scip
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = scip=0.9.0
	conflicts = scip
	options = !debug
	options = !strip
	source_x86_64 = scip-bin-0.9.0-linux-amd64.tar.gz::https://github.com/scip-code/scip/releases/download/v0.9.0/scip-linux-amd64.tar.gz
	sha256sums_x86_64 = fc2e7273e110be9f35924da1066000183791e8bfdb0391355de6eaaa070fec75
	source_aarch64 = scip-bin-0.9.0-linux-arm64.tar.gz::https://github.com/scip-code/scip/releases/download/v0.9.0/scip-linux-arm64.tar.gz
	sha256sums_aarch64 = e97aaf597ab6a6b6fbb1bbc43993e6efb596284aa9c3fa5b20d75186367c5e

pkgname = scip-bin
