pkgbase = deja
	pkgdesc = Predictive inline shell autosuggestions for zsh
	pkgver = 0.4.2
	pkgrel = 3
	url = https://github.com/Giammarco-Ferranti/deja
	arch = x86_64
	license = MIT
	depends = glibc
	depends = zsh
	options = !debug
	options = !strip
	source_x86_64 = https://github.com/Giammarco-Ferranti/deja/releases/download/v0.4.2/deja_0.4.2_linux_amd64.tar.gz
	sha256sums_x86_64 = 32db767e728d447941a70cf7dc95376a1e0a96168ad79674593715ac165ed310

pkgname = deja
