pkgbase = pi
	pkgdesc = Minimal terminal coding harness
	pkgver = 0.86.1
	pkgrel = 1
	url = https://github.com/earendil-works/pi
	arch = x86_64
	license = MIT
	depends = bash
	depends = gcc-libs
	depends = glibc
	options = !debug
	options = !strip
	source = pi-0.86.1-linux-x64.tar.gz::https://github.com/earendil-works/pi/releases/download/v0.86.1/pi-linux-x64.tar.gz
	source = LICENSE-0.86.1::https://github.com/earendil-works/pi/raw/v0.86.1/LICENSE
	sha256sums = 2494f5587a8774a10296d00a7e504e7ad05596ca93e057cb89372c8b1a7f46a9
	sha256sums = 0457f5bcec3b3b211605dfb5d1a49042fd638f3686a410fe099c24a25af13c48

pkgname = pi
