pkgbase = pi
	pkgdesc = Minimal terminal coding harness
	pkgver = 1.1.0
	pkgrel = 2
	url = https://github.com/earendil-works/pi
	arch = x86_64
	license = MIT
	depends = bash
	depends = gcc-libs
	depends = glibc
	options = !debug
	options = !strip
	source = pi-1.1.0-linux-x64.tar.gz::https://github.com/earendil-works/pi/releases/download/v1.1.0/pi-linux-x64.tar.gz
	source = LICENSE-1.1.0::https://github.com/earendil-works/pi/raw/v1.1.0/LICENSE
	sha256sums = 3faa94666cd3849d37af320ff749407d0271b07a9b94f420c87e30866e10e289
	sha256sums = 0457f5bcec3b3b211605dfb5d1a49042fd638f3686a410fe099c24a25af13c48

pkgname = pi
