pkgbase = pi
	pkgdesc = Minimal terminal coding harness
	pkgver = 0.87.1
	pkgrel = 2
	url = https://github.com/earendil-works/pi
	arch = x86_64
	license = MIT
	depends = bash
	depends = gcc-libs
	depends = glibc
	options = !debug
	options = !strip
	source = pi-0.87.1-linux-x64.tar.gz::https://github.com/earendil-works/pi/releases/download/v0.87.1/pi-linux-x64.tar.gz
	source = LICENSE-0.87.1::https://github.com/earendil-works/pi/raw/v0.87.1/LICENSE
	sha256sums = 80d78dd62d50049a006b981d994c61255bcc10e730b0c278d4ea0a755909764c
	sha256sums = 0457f5bcec3b3b211605dfb5d1a49042fd638f3686a410fe099c24a25af13c48

pkgname = pi
