pkgbase = 1password
	pkgdesc = Password manager and secure wallet
	pkgver = 8.12.30
	pkgrel = 2
	url = https://1password.com
	install = 1password.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-1Password-Proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	depends = zlib
	conflicts = 1password-beta
	conflicts = 1password-beta-bin
	options = !debug
	options = !strip
	backup = etc/1password/custom_allowed_browsers
	source = 1password.license
	validpgpkeys = 3FEF9748469ADBE15DA7CA80AC2D62742012EA22
	sha256sums = b4b4a183f41fcd6610b61e73afba2cab8ee194ab9de2112473be6137f196d818
	source_x86_64 = https://downloads.1password.com/linux/tar/stable/x86_64/1password-8.12.30.x64.tar.gz
	source_x86_64 = https://downloads.1password.com/linux/tar/stable/x86_64/1password-8.12.30.x64.tar.gz.sig
	sha256sums_x86_64 = 8d9b8f750a3928fbdb62a37961716ade5004a8971c5a18ba44e14e4af8e25ae5
	sha256sums_x86_64 = 6cf6a540f1017628d93bc5e990ae4ae22e6f2450c08e76564c75b6991d6e8689
	source_aarch64 = https://downloads.1password.com/linux/tar/stable/aarch64/1password-8.12.30.arm64.tar.gz
	source_aarch64 = https://downloads.1password.com/linux/tar/stable/aarch64/1password-8.12.30.arm64.tar.gz.sig
	sha256sums_aarch64 = b38c26550ec95d5d1c6a40e1b9e6b09105938e2731395cddac742597accdc2f2
	sha256sums_aarch64 = 601b3390b136c79e13d4c8ad70e87cefebcd7e657971bb0863a078e22b9fa3b4

pkgname = 1password
